<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.serlvet.IndexServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.serlvet.QueryServlet</servlet-class>
  </servlet>

	


	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/servlet/IndexServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/servlet/QueryServlet</url-pattern>
  </servlet-mapping>
	
</web-app>
